.current_score{
    background-color:#D3D3D3;
   
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin:0px 0px;
}
.team_name{
    margin-left: 80px;
    margin-right: 80px;
}
.table_div1{
    
    float:left;
   
}
.table_div2{
    
    float:left;
  margin-left: 72px;

}
.header_img{
    width:100%;
    height:100px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    
}
.match_header{
    width:100%;
    height:60px;
    margin-top: 0px;
   
}
.stadium{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}
.match_time{
 float: right;
  margin-top: 10px;
}
.match_n_series{
  margin-left: 350px;
  margin-right: 400px;
   float: left;
   text-align: center;
   
}
.class-for-desc{
    color:rgb(196, 61, 61)
}
h3{
    margin: 0px 0px;
}
h2{
    margin: 0px 0px;
}
.back{
    right: 0;
  bottom: 0;
  position: fixed;  
}
.cont{
    position: relative;

}
.b{
    position: absolute;
    float:right;
   
}